.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.map_canvas {
	height: 600px;
}

.draw_canvas {
	position: absolute;
	top: 30px;
}

.avatar {
	position: absolute;
	opacity: 0;
}

.avatar-image {
	position: absolute;
	top: -17px;
	border-radius: 20px;
}